{{ $Xzya := "<a href=\"https://github.com/Xzya\">Xzya</a>" }}
{{ $HugoThemeBootstrap4Blog := "<a href=\"https://github.com/alanorth/hugo-theme-bootstrap4-blog\">hugo-theme-bootstrap4-blog</a>" }}
{{ $links := (dict "Xzya" $Xzya "HugoThemeBootstrap4Blog" $HugoThemeBootstrap4Blog ) }}
{{ $thanks := i18n "thanks" $links | safeHTML }}

{{ $copyright := default $thanks .Site.Copyright }}
{{ $colorScheme := default "light" .Site.Params.footer.colorScheme }}

<footer class="blog-footer w-100">
    <nav class="navbar navbar-{{ $colorScheme }} bg-{{ $colorScheme }}">
        <!-- <p class="w-100 text-center">{{ $copyright }}</p> -->
        <p class="w-100 text-center"><a href="#">{{ i18n "backToTop" }}</a></p>
    </nav>
</footer>
